:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --fs-body: 0.9375rem;
    --ff-primary: 'League Spartan', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}