:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --fs-body: 0.9375rem;
    --ff-primary: 'League Spartan', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1.4rem;
    background: url(images/bg-pattern-top-mobile.svg),  url(images/bg-pattern-bottom-mobile.svg) bottom right;
    background-repeat: no-repeat;
}

main {
    margin: 4rem 0;
}

@media (min-width: 800px) {
    body {
        background: url(images/bg-pattern-top-desktop.svg),  url(images/bg-pattern-bottom-desktop.svg) bottom right;
        background-repeat: no-repeat;
        text-align: left;
    }

    .heading {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        margin: 6rem 9rem;
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-info > h1 {
    color: var(--very-dark-magenta);
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    line-height: 2rem;
}

.desc {
    color: var(--dark-grayish-magenta);
    font-size: 1.1rem;
    font-weight: var(--fw-medium);
    line-height: 1.5rem;
}

.product-ratings {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2.5rem;
}

.rating {
    background-color: var(--light-grayish-magenta);
    border-radius: 8px;
    padding: 0.7rem;
    color: var(--very-dark-magenta);
    font-weight: var(--fw-bold);
    font-size: 1rem;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.9rem;
}

@media (min-width: 800px) {
    .product-info {
        padding-right: 6rem;
    }

    .product-info > h1 {
        font-size: 3.5rem;
        line-height: 3rem;
    }

    .product-ratings {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }
    
    .rating {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem 2rem;
        width: 27rem;
    }

    .rating-2 {
        margin-left: 3rem;
    }

    .rating-3 {
        margin-left: 6rem;
    }

    .stars {
        margin: 0;
    }
}



